* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(90, 110, 94, 0.815)
}
header {
    background-color: rgb(0, 0, 0);
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    grid-area: head;
}

.header-content {
    color: #f1f1f1;
    
}
#logga_img {
    height: 150px;
    width: auto;
    border-radius: 100%;
}
#header-text {
    color: white;
    justify-content: center;
}
#namn {
    font-size: 20mm;
    display: flex;
    justify-content: center;
}
#undertext {
    font-size: 6mm;
    justify-content: center;
}

#link_list {
    list-style: none;
    display: flex;
    width: 600px;
    justify-content: space-evenly        ;
}

.meny_link {
    text-decoration:none;
    color: rgb(255, 255, 255);
    font-size: 15mm;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.meny_link:hover {
    color: rgb(117, 96, 61);
}
.wrapper {
    width: 100vw;
    height: 100vh;
    display: ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 50px 100px 100px 500px 10px 10px;

    grid-template-areas:
    "head head head"
    "image image image"
    "ti ti ti"
    "s1 si s2"
    "s3 s4 s4"
    "s5 s5 s6"
    ;
    gap: 10px;
}
    #image {
        grid-area: image;
        width: 100%;
        height: 0%;
        justify-content: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-attachment: fixed;
        float: none;
}
    #title {
        color: white;
        font-size: 23mm;
        justify-content: center;
        grid-area: ti;
        border-width: auto;
        border-style: dotted;
    }
    
    #section_1 {
        grid-area: s1;
        justify-content: center;
        border-width: auto;
        border-style: dotted;
        grid-column-start: 1;
        grid-row-end: 3;
    }
    
    #section_2 {
        grid-area: s2;
        border-width: auto;
        border-style: dotted;
        grid-column: 2/3;
    }
    
    #section_3 {
        grid-area: s3;
        border-width: auto;
        border-style: dotted;
        grid-column-start: 1;
        grid-row-end: 3;
    }
    #section_4 {
        grid-area: s4;
        border-width: auto;
        border-style: dotted;
        grid-column: 2/3;
    }
    
    #section_5 {
        grid-area: s5;
        border-width: auto;
        border-style: dotted;
        grid-column-start: 1;
        grid-row-end: 3;
    }
    #section_6 {
        grid-area: s6;
        border-width: auto;
        border-style: dotted;
        grid-column: 2/3;
    }
    #footer {
        border-width: auto;
        border-style: dotted;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }