* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(90, 110, 94, 0.815)
}
header {
    background-color: rgb(0, 0, 0);
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    grid-area: head;
}

.header-content {
    color: #f1f1f1;
    
}
#logga_img {
    height: 150px;
    width: auto;
    border-radius: 100%;
}
#header-text {
    color: white;
}
#namn {
    font-size: 20mm;
    display: flex;
    justify-content: center;
}

#links {
    list-style: none;
    display: flex;
    width: 600px;
    justify-content: space-evenly;
}

.link {
    text-decoration:none;
    color: rgb(255, 255, 255);
    font-size: 15mm;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.link:hover {
    color: rgb(117, 96, 61);
}